Variables
a = random_int_range(1,7)
b = random_int_range(1,7)
c = random_int_range(1,7)

Question
\text{Find the simplified sum of the square roots.}
!integer|#c#!
\sqrt{!integer|#a#*#a#*#b#!} + \sqrt{!integer|#c#*#c#*#b#!}

Answer
(!integer|#a#+#c#!)\sqrt{!integer|#b#!}

Solution
\text{Another way of writing #a#\% is \frac{#a#}{100}, so}
\text{\frac{#a#}{100} \times #b# = #answer#}

finish